@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/static/Inter-Bold.ttf');
  font-weight: bold;
}



:root {
  color: var(--app-text-color);
  font-family: var(--app-font-family);
}

html, body {
  background-color: var(--app-bg-color);
}

img {
  -webkit-user-drag: none;
}

:focus-visible {
  outline: solid 0.2em #2968a0;
  outline-offset: 0.2em;
}




/* Utility Colors */
:root {
  --app-bg-color: #f3ede5;
  --app-text-color: #807f7e;
  --app-font-family: Inter;

  --primary-heading-color: #000;
  --secondary-heading-color: #f7b300;

  --try-for-free-btn-bg-color: #133416;
  --try-for-free-btn-text-color: #fff;
}



#app-content {
  display: grid;
  grid-template-rows: 72px 1fr 150px;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;

  padding-bottom: 3rem;
}

@media (max-width: 57rem) {
  #app-content {
    padding-bottom: 1rem;
  }
}

@media (max-width: 47rem) {
  #app-content {
    justify-content: flex-start;
  }
}

@media (aspect-ratio: 1366 / 625), (aspect-ratio: 1360 / 625), (aspect-ratio: 1024 / 600) {
  #app-content {
    grid-template-rows: 72px 1fr 100px;
    padding-bottom: 1rem;
  }
}




.navbar-block {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-block a {
  user-select: none;
}

.navbar-block > .logowrapper {
  flex-grow: 1;
}

.navbar-block > .logowrapper > .logo {
  display: block;
  width: 6rem;
}

.navbar-block > .logowrapper > .logo > img {
  width: 100%;
  height: 100%;
}

.navbar-block > .menubtn {
  display: none;
  margin-right: 1rem;

  cursor: pointer;
}

@media (max-width: 47rem) {
  .navbar-block > .menubtn {
    display: block;
  }
}

.navbar-block > .list {
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}

@media (max-width: 47rem) {
  .navbar-block > .list {
    display: none;
  }
}

.navbar-block > .list > * {
  flex-shrink: 0;
}

.navbar-block > .list > .-sign-in {
  margin-left: auto;
}




.wrapper-img > img {
  width: 100%;
  height: 100%;
}


.try-for-free-btn {
  display: block;
  width: max-content;

  padding: 1em 1.5em;

  border-radius: 0.2em;
  background-color: var(--try-for-free-btn-bg-color);
  color: var(--try-for-free-btn-text-color);

  text-decoration: none;
  user-select: none;
  font-weight: bold;
}


.navbar-block > .list > .products {
  position: relative;
  cursor: pointer;
}

.navbar-block > .list > .products > .products-popup {
  width: 27em;

  position: absolute;
  top: 3rem;
  left: 0;

  transform: translateX(-20%);
}



.products-popup {
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 2rem;

  border-radius: 1em;
  background-color: #fff;
  color: var(--app-text-color);

  box-shadow: 0 0 1em 0 #0004;

  font-size: 0.8rem;

  transition: opacity 0.3s, visibility 0.3s;
  transition-delay: 0.1s;

  cursor: default;
}

.products-popup > * {
  user-select: none;
}

.products-popup.-show {
  visibility: visible;
  opacity: 1;

  transition-delay: 0s;
}

.products-popup > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem;
}

.products-popup > .top > .closebtn {
  font-size: 1.3rem;
  cursor: pointer;
}

.products-popup > .tail {
  --tail-size: 10px;
  --tail-color: #fff;

  position: absolute;
  top: 0;
  left: 26%;

  transform: translateY(-100%);

  width: 0;
  height: 0;

  border: solid var(--tail-size) transparent;
  border-bottom-color: var(--tail-color);
}


.products-popup > .item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.products-popup > .item > .wrapper-img {
  flex-shrink: 0;
  width: 24px;
}

.products-popup > .item > .info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.products-popup > .item > .info > .title {
  color: #112c44;
  font-weight: bold;
}

.products-popup > .item {
  padding: 0.5rem;

  border-radius: 1em;

  transition: background-color 0.3s;

  cursor: pointer;
}

.products-popup > .item:hover,
.products-popup > .item:active,
.products-popup > .item:focus-visible {
  background-color: #88aed044;
}

.products-popup > .item:active {
  background-color: #1d7acd44;
  transition: background-color 0s;
}



#app > .hamburguer-menu {
  visibility: hidden;

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  transform: translateY(-100%);

  /* Add transition for `visibility` to hide the hamburguer-menu after the `translateY(-100%)` has been applied */
  transition: transform 0.3s, visibility 0.3s;
}

#app > .hamburguer-menu.-show {
  visibility: visible;
  transform: translateY(0);

  /* Remove transition for `visibility` to show the hamburguer-menu directly without waiting for the `translateY(0)` to complete */
  transition: transform 0.3s, visibility 0s;
}


.hamburguer-menu {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 1rem;
  padding-top: calc(1rem + 72px / 2 - 12px);

  background-color: #28a867;
  color: #fff;

  overflow: auto;
}

.hamburguer-menu > * {
  flex-shrink: 0;
  user-select: none;
}


.hamburguer-menu > .close {
  align-self: flex-end;

  width: 24px;
  height: 24px;

  margin-right: 1rem;

  --line-size: 3px;
  --line-offset: 50%;
  --line-color: #000;
  --line:
  transparent 0,
  transparent calc(var(--line-offset) - var(--line-size) / 2),

  var(--line-color) calc(var(--line-offset) - var(--line-size) / 2),
  var(--line-color) calc(var(--line-offset) + var(--line-size) / 2),

  transparent calc(var(--line-offset) + var(--line-size) / 2),
  transparent 100%
  ;
  --line-1:  45deg,  var(--line);
  --line-2: -45deg, var(--line);

  background-repeat: no-repeat;
  background-image:
  linear-gradient(var(--line-1)),
  linear-gradient(var(--line-2))
  ;

  background-size: 70% 70%;
  background-position: center;

  cursor: pointer;
}

.hamburguer-menu > .products {
  cursor: pointer;
}

.hamburguer-menu > .products-popup {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  margin-inline: auto;

  width: 90%;
}

.hamburguer-menu > .products-popup > .tail {
  display: none;
}


.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;

  padding-bottom: 3rem;
}

@media (max-width: 47rem) {
  .main {
    grid-template-columns: 1fr;
  }
}


.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.content-section > .heading {
  color: var(--primary-heading-color);
  font-size: 3rem;
}

@media (max-width: 47rem) {
  .content-section > .heading {
    font-size: 2rem;
  }
}

.content-section > .heading > .secondary {
  color: var(--secondary-heading-color);
}

.content-section > .mobileinfo {
  margin-top: 0.5rem;
}

.content-section > .mobileinfo > .logoicons {
  display: inline-flex;
  gap: 1rem;

  vertical-align: middle;
}



.hero-section {
  display: grid;
  place-items: center;
}

@media (max-width: 47rem) {
  .hero-section {
    display: none;
  }
}

.hero-section > img {
  width: 100%;
}


.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}

.footer-block > .info {
  text-align: center;
}

.footer-block > .companieslist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-block > .companieslist > a {
  user-select: none;
}


@media (max-width: 57rem) {
  .footer-block > .companieslist > .wrapper-img {
    flex-basis: 8rem;
  }
}

@media (max-width: 23rem) {
  .footer-block > .companieslist > .wrapper-img {
    flex-basis: 5rem;
  }
}
