@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/static/Inter-Bold.ttf');
  font-weight: bold;
}



:root {
  color: var(--app-text-color);
  font-family: var(--app-font-family);
}

html, body {
  background-color: var(--app-bg-color);
}

img {
  -webkit-user-drag: none;
}

:focus-visible {
  outline: solid 0.2em #2968a0;
  outline-offset: 0.2em;
}




/* Utility Colors */
:root {
  --app-bg-color: #f3ede5;
  --app-text-color: #807f7e;
  --app-font-family: Inter;

  --primary-heading-color: #000;
  --secondary-heading-color: #f7b300;

  --try-for-free-btn-bg-color: #133416;
  --try-for-free-btn-text-color: #fff;
}



#app-content {
  display: grid;
  grid-template-rows: 72px 1fr 150px;
  grid-template-columns: minmax(auto, 900px);
  justify-content: center;

  padding-bottom: 3rem;
}

@media (max-width: 57rem) {
  #app-content {
    padding-bottom: 1rem;
  }
}

@media (max-width: 47rem) {
  #app-content {
    justify-content: flex-start;
  }
}



.navbar-block {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar-block a {
  user-select: none;
}

.navbar-block > .logowrapper {
  flex-grow: 1;
}

.navbar-block > .logowrapper > .logo {
  display: block;
  width: 6rem;
}

.navbar-block > .logowrapper > .logo > img {
  width: 100%;
  height: 100%;
}

.navbar-block > .menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 47rem) {
  .navbar-block > .menu {
    display: block;
  }
}

.navbar-block > .list {
  flex-grow: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.4rem;
}

@media (max-width: 47rem) {
  .navbar-block > .list {
    display: none;
  }
}

.navbar-block > .list > * {
  flex-shrink: 0;
}

.navbar-block > .list > .-sign-in {
  margin-left: auto;
}




.wrapper-img > img {
  width: 100%;
  height: 100%;
}


.try-for-free-btn {
  display: block;
  width: max-content;

  padding: 1em 1.5em;

  border-radius: 0.2em;
  background-color: var(--try-for-free-btn-bg-color);
  color: var(--try-for-free-btn-text-color);

  text-decoration: none;
  user-select: none;
  font-weight: bold;
}


.navbar-block > .list > .products {
  position: relative;
  cursor: pointer;
}

.navbar-block > .list > .products > .products-popup {
  width: 27em;

  position: absolute;
  top: 3rem;
  left: 0;

  transform: translateX(-20%);
}

/* Show products-popup on hover */
/*
.navbar-block > .list > .products:hover > .products-popup {
  visibility: visible;
  opacity: 1;

  transition: opacity 0.3s, visibility 0s;
  transition-delay: 0s;
}

.products-popup {
  transition-delay: 0.3s;
}
*/

.products-popup {
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 2rem;

  border-radius: 1em;
  background-color: #fff;

  box-shadow: 0 0 1em 0 #0004;

  font-size: 0.8rem;

  transition: opacity 0.3s, visibility 0.3s;

  cursor: default;
}

.products-popup.-show {
  visibility: visible;
  opacity: 1;
}

.products-popup > .tail {
  --tail-size: 10px;
  --tail-color: #fff;

  position: absolute;
  top: 0;
  left: 26%;

  transform: translateY(-100%);

  width: 0;
  height: 0;

  border: solid var(--tail-size) transparent;
  border-bottom-color: var(--tail-color);
}


.products-popup > .item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}

.products-popup > .item > .wrapper-img {
  flex-shrink: 0;
  width: 24px;
}

.products-popup > .item > .info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.products-popup > .item > .info > .title {
  color: #112c44;
  font-weight: bold;
}

.products-popup > .item {
  padding: 0.5rem;

  border-radius: 1em;

  transition: background-color 0.3s;

  cursor: pointer;
}

.products-popup > .item:hover {
  background-color: #88aed044;
}

.products-popup > .item:active {
  background-color: #1d7acd44;
  transition: background-color 0s;
}



.main {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;

  padding-bottom: 3rem;
}

@media (max-width: 47rem) {
  .main {
    grid-template-columns: 1fr;
  }
}


.content-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.content-section > .heading {
  color: var(--primary-heading-color);
  font-size: 3rem;
}

@media (max-width: 47rem) {
  .content-section > .heading {
    font-size: 2rem;
  }
}

.content-section > .heading > .secondary {
  color: var(--secondary-heading-color);
}

.content-section > .mobileinfo {
  margin-top: 0.5rem;
}

.content-section > .mobileinfo > .logoicons {
  display: inline-flex;
  gap: 1rem;

  vertical-align: middle;
}



.hero-section {
  display: grid;
  place-items: center;
}

@media (max-width: 47rem) {
  .hero-section {
    display: none;
  }
}

.hero-section > img {
  width: 100%;
}


.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
}

.footer-block > .info {
  text-align: center;
}

.footer-block > .companieslist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-block > .companieslist > a {
  user-select: none;
}


@media (max-width: 57rem) {
  .footer-block > .companieslist > .wrapper-img {
    flex-basis: 8rem;
  }
}

@media (max-width: 23rem) {
  .footer-block > .companieslist > .wrapper-img {
    flex-basis: 5rem;
  }
}
